:root {
    --var-lightblue: #B4D0E7;
    --var-blue: #0061FF;
    --var-dropbox_company: #61082B;
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

img {
    max-width: 100%;
    height: auto;
 }

a {
    text-decoration: none;
    color: black;
    
 }


 ul {
    list-style: none;
 }


 .row {
    display: flex;
    flex-wrap: wrap;

 }

 .hero {
    width: 80%;
    margin: auto;
    max-width: 1440px;
 }

 .container {
    width: 60%;
    margin: auto;
    max-width: 1260px;
 }

 .container .row {
    padding: 1rem 0;
   
 }

 /*#region debug */
 .debug header{
    height: 100px;
    background-color: red;
    
 }


 .debug [class*="col-"]{
    height: 200px;
    background-color: var(--var-lightblue);
    border: 1px solid black;
    
 }

 .debug .tall {
    height: 400px;
 }

 .debug .flex_item, .debug .flex_center {
    background-color: var(--var-lightblue);
    border: 1px solid black;
    
 }

 .debug .flex_item {
    height: 200px;
 }



 .debug .company{
    background-color: var(--var-dropbox_company);
    height: 300px;
    border: 1px solid red;
 }

 .debug footer {
    background-color: black;
    height: 300px;

 }
/*#endregion debug*/

 /*#region columns */

 .col-2 {
    width: calc((100%/12)*2);
 }

 .col-3 {
    width: calc((100%/12)*3);
 }

 .col-4 {
    width: calc((100%/12)*4);
 }


 .col-8 {
    width: calc((100%/12)*8);
 }

 .col-9 {
    width: calc((100%/12)*9);
 }

 .col-12 {
    width: 100%;
 }

 /* #endregion columns */


 /* #region utility */

.inline-block {
    display: inline-block;
}

 .d-flex {
    display: flex;
 }

 .center {
    justify-content: center;
 }

 .column {
    flex-direction: column;
 }

 .space-between {
    justify-content: space-between;
 }

 .align-center {
    align-items: center;
 }

 .wrap {
    flex-wrap: wrap;
 }


 /* #endregion Utility */

 /*#region buttons */
 .button a {
    padding: 0.5rem 1rem;
    background-color: var(--var-blue);
    color: white;
}

.button a:hover {
    opacity: 0.75;
    transition: opacity 0.3s ease;
}
 /*#endregion buttons */

 /* #region header */
.flex_container ul li, .login, .signup{
    padding: 1rem;
}


.flex_container ul li:hover {
    border-bottom: 4px solid black;
    cursor: pointer;
    
}

.logo {
    padding: 0.5rem 1rem;
}



 /* #endregion header */

 /* #region hero */
 /* #endregion hero */

 /* #region main */
 .bg_secondary{
    background-color: var(--var-lightblue);
 }

 .title {
    font-size: 5rem;
    font-weight: 700;
    padding: 3rem 0;
 }


 .flex_item {
    width: 50%;
    padding-top: 50%;
    
 }

.flex_center, .flex_start, .flex_end {
    width: calc(100%/3);
}


/* #endregion main */   

/* #region footer */
footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* #endregion footer */

